@import 'test';

body {
  position: absolute;

  background: blue;
}

.my-div {
  display: flex;

  transition: all 0.5s;
  user-select: none;
}

p {
  width: 100px;
  height: 100px;
}

span {
  width: 100px;
  height: 100px;
}

@media (min-resolution: 2dppx) {
  .my-test {
    display: flex;
  }
}
